In [39]:
import pandas as pd

In [40]:
# read the data and store data in DataFrame titled rain_data
rain_data = pd.read_csv (r"C:\Users\AICAMP\Downloads\archive (2)\weatherAUS.csv") 
# print a summary of the data in Rain data
rain_data.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [41]:
rain_data = pd.read_csv(r"C:\Users\AICAMP\Downloads\archive (2)\weatherAUS.csv") 
rain_data.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [42]:
# dropna drops missing values (think of na as "not available")
rain_data = rain_data.dropna(axis=0)

In [43]:
y = rain_data.MaxTemp

In [44]:
rain_features = ['MinTemp', 'Rainfall', 'Evaporation', 'Sunshine', 'WindGustSpeed']

In [45]:
X = rain_data[rain_features]

In [46]:
X.describe()

            MinTemp      Rainfall   Evaporation      Sunshine  WindGustSpeed
count  56420.000000  56420.000000  56420.000000  56420.000000   56420.000000
mean      13.464770      2.130397      5.503135      7.735626      40.877366
std        6.416689      7.014822      3.696282      3.758153      13.335232
min       -6.700000      0.000000      0.000000      0.000000       9.000000
25%        8.600000      0.000000      2.800000      5.000000      31.000000
50%       13.200000      0.000000      5.000000      8.600000      39.000000
75%       18.400000      0.600000      7.400000     10.700000      48.000000
max       31.400000    206.200000     81.200000     14.500000     124.000000

In [47]:
X.head()

      MinTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed
6049     17.9       0.0         12.0      12.3           48.0
6050     18.4       0.0         14.8      13.0           37.0
6052     19.4       0.0         10.8      10.6           46.0
6053     21.9       0.0         11.4      12.2           31.0
6054     24.2       0.0         11.2       8.4           35.0

In [48]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
rain_model = DecisionTreeRegressor(random_state=1)

# Fit model
rain_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [49]:
print("Making predictions for MaxTemp:")
print(X.head())
print("The predictions are")
print(rain_model.predict(X.head()))

Making predictions for MaxTemp:
      MinTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed
6049     17.9       0.0         12.0      12.3           48.0
6050     18.4       0.0         14.8      13.0           37.0
6052     19.4       0.0         10.8      10.6           46.0
6053     21.9       0.0         11.4      12.2           31.0
6054     24.2       0.0         11.2       8.4           35.0
The predictions are
[35.2 28.9 37.6 38.4 41. ]

In [50]:
print("Making predictions for the MaxTemp:")
print(X.tail())
print("The predictions are")
print(rain_model.predict(X.head()))

Making predictions for the MaxTemp:
        MinTemp  Rainfall  Evaporation  Sunshine  WindGustSpeed
142298     19.3       0.0          6.0      11.0           35.0
142299     21.2       0.0          7.6       8.6           37.0
142300     20.7       0.0          5.6      11.0           33.0
142301     19.5       0.0          6.2      10.6           26.0
142302     20.2       0.0          5.6      10.7           30.0
The predictions are
[35.2 28.9 37.6 38.4 41. ]

In [51]:
above_5 = X[X["Evaporation"] > 6]

In [52]:
from sklearn.metrics import mean_absolute_error

predicted_rain_maxtemp = rain_model.predict(X)
mean_absolute_error(y, predicted_rain_maxtemp)
 
from sklearn.model_selection import train_test_split

In [53]:
# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
# Define model
rain_model = DecisionTreeRegressor()
# Fit model
rain_model.fit(train_X, train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [54]:
# get predicted prices on validation data
val_predictions = rain_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

3.244080113434952

In [55]:
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [56]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  3
Max leaf nodes: 50  		 Mean Absolute Error:  2
Max leaf nodes: 500  		 Mean Absolute Error:  2
Max leaf nodes: 5000  		 Mean Absolute Error:  2